<div id="home-reader" class="home-reader">
    <div id="about">
        <div class="vertical-center">
            <div class="item comprehend">
                <p><span class="foci-highlight">Foci</span> uses a smart engine to recognize grammatical structures of a
                <br>sentence, and flash those phrases to improve speed and comprehension.</p>

                <div class="row">
                    <div class="col-md-5">
                        <p class="title">Competitors</p>
                        <div class="demo gray">
                            <h2 class="block">It </h2>
                            <h2 class="block">takes </h2>
                            <h2 class="block">longer </h2>
                            <h2 class="block">to </h2>
                            <h2 class="block">comprehend </h2>
                            <h2 class="block">and </h2>
                            <h2 class="block">read </h2>
                            <h2 class="block">one </h2>
                            <h2 class="block">word </h2>
                            <h2 class="block">at </h2>
                            <h2 class="block">a </h2>
                            <h2 class="block">time.</h2>
                        </div>
                    </div>

                    <div class="col-md-2 versus">
                        <div>
                            VS
                        </div>
                    </div>

                    <div class="col-md-5">
                        <img class="logo" src="/foci/assets/img/logo.png" />
                        <br>
                        <div class="demo green">
                            <h2 class="block">It is easier </h2>
                            <h2 class="block">to read </h2>
                            <h2 class="block">and comprehend </h2>
                            <h2 class="block">segments </h2>
                            <h2 class="block">of a sentence.</h2>
                        </div>
                    </div>
                    <!--<div class="dropshadow"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>