<div class="profile" ng-controller="AccountController">
    <div class="round-title">
        <div class="title">Account</div>
    </div>

    <div>
        <div class="vertical-center">
            <div class="col-md-6 col-md-offset-3">
                <form class="reg">
                    <div class="form-group">
                        <label>Your Name*</label>
                        <div>
                            <input name="name" class="form-control" ng-model="profile.name" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Email Address*</label>
                        <div>
                            <input name="email" class="form-control" ng-model="profile.email" ng-required="true" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Grade Level*</label>
                        <div>
                            <select class="form-control" ng-model="profile.grade" ng-required="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13+</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your School Name (Optional)</label>
                        <div>
                            <input name="school" class="form-control" ng-model="profile.school">
                        </div>
                    </div>
                    <div class="button-bar">
                        <button class="btn" type="submit" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-primary" type="submit" ng-click="save()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>