<div class="profile" ng-controller="AccountController">
    <div class="round-title">
        <div class="title">Account</div>
    </div>

    <div>
        <div class="vertical-center">
            <div class="col-md-6 col-md-offset-3">
                <form class="reg text-center">
                    <div class="form-group">
                        <label>Your Name</label>
                        <div class="account-info">
                            {{profile.name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Email Address</label>
                        <div class="account-info">
                            {{profile.email}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Grade Level</label>
                        <div class="account-info">
                            {{profile.grade}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your School Name</label>
                        <div class="account-info">
                            {{profile.school}}
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="edit()">Edit</button>
                </form>
            </div>
        </div>
    </div>

</div>