<div ng-controller="AuthCtrl" ng-class="($state.is('auth.register')) ? 'register-form' : ''">
    <div class="col-md-offset-4 col-md-4">
        <div class="login-card">
            <div ui-view></div>

            <div class="auth-separator">OR</div>

            <div class="social-wrap" ng-class="{bigger:socialButtonsCounter > 4 && !global.registerForm}">
                <div ng-repeat="(key, val) in socialButtons" class="{{key}} login-button">
                    <i class="fa fa-{{key}}"></i>
                    <a target="_self" ng-href="/api/auth/{{key}}">
                        <span class="text-capitalize">{{key}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
