<div class="profile" ng-controller="ContentAddController">
    <div class="round-title">
        <div class="title">Add Content</div>
    </div>

    <div>
        <div class="vertical-center">
            <div class="">
                <form class="reg">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Type</label>
                            <div>
                                <select class="form-control" ng-model="content.type" ng-required="true">
                                    <option value="Book">Book</option>
                                    <option value="News">News</option>
                                    <option value="RSS">RSS</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Title</label>
                            <div>
                                <input name="name" class="form-control" ng-model="content.title" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Author</label>
                            <div>
                                <input name="email" class="form-control" ng-model="content.author" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="content.type != 'RSS'">
                        <label>Text</label>
                        <textarea rows="5" class="form-control" ng-model="content.text"></textarea>
                    </div>
                    <div class="form-group" ng-if="content.type == 'RSS'">
                        <label>URL</label>
                        <div>
                            <input name="url" class="form-control" ng-model="content.text" ng-required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Frame Size</label>
                            <div>
                                <input name="frame-size" class="form-control" ng-model="content.frame_size" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Published</label>
                            <div>
                                <input type="checkbox" ng-model="content.is_active">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>For Demo</label>
                            <div>
                                <input type="checkbox" ng-model="content.is_demo">
                            </div>
                        </div>
                    </div>
                    <div class="button-bar">
                        <a class="btn btn-default" type="submit" href="/admin/content">Cancel</a>
                        <button class="btn btn-primary" type="submit" ng-click="save()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>