<div class="profile" ng-controller="ContentListController">
    <div class="round-title">
        <div class="title">Content</div>
    </div>

    <div class="button-bar clearfix">
        <a class="btn btn-primary" href="/admin/content/add">Add</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Title</th>
                <th style="width: 50%">Text/URL</th>
                <th>Author</th>
                <th>Type</th>
                <th>Active</th>
                <th>Demo</th>
                <th class="text-center">Updated At</th>
            </tr>
            <tr ng-repeat="item in content">
                <td>
                    <a ng-href="/admin/content/{{item._id}}/edit">{{item.title}}</a>
                </td>
                <td>
                    <div dd-text-collapse dd-text-collapse-max-length="250" dd-text-collapse-text="{{item.text}}"></div>
                </td>
                <td>{{item.author}}</td>
                <td>{{item.type}}</td>
                <td class="text-center"><i class="fa fa-check" ng-show="item.is_active"></i></td>
                <td class="text-center"><i class="fa fa-check" ng-show="item.is_demo"></i></td>
                <td class="text-center">{{ item.updatedAt | date: 'MMM d, yyyy h:mm a' }}</td>
            </tr>
        </tbody>
    </table>

</div>