<div id="home-reader" class="home-reader">
    <div class="read-panel standalone">
        <div id="foci-reader-text" class="read-text">
            <div class="arrow-down"></div>
            <div class="foci-text" ng-style="{left: leftPosition}" ng-bind-html="player.currentText"></div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': player.readPerc + '%'}">
            </div>
        </div>
        <div class="controls" ng-class="getControlsClass(player.controlsEnabled)">
            <div class="reader-select-wrapper">
                <div class="dropdown" uib-dropdown>
                    <div class="wpm-selector" type="button" uib-dropdown-toggle>
                        {{ player.wpm }} WPM
                    </div>
                    <ul uib-dropdown-menu class="uib-dropdown-menu reader-dropdown-menu">
                        <li ng-repeat="opt in wpmOptions">
                            <a href="" ng-click="changeWpm(opt.value)">{{ opt.label }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="player-btn reset" ng-click="restart()">
                <div class="glyphicon glyphicon-repeat"></div>
            </div>
            <div class="player-btn rewind-btn" ng-click="rewind()">
                <div class="glyphicon glyphicon-backward"></div>
            </div>
            <div class="player-btn play-pause" ng-click="playPause()">
                <span ng-show="!player.isRunning">
                    <div class="glyphicon glyphicon-play"></div>
                </span>
                <span ng-show="player.isRunning">
                    <div class="glyphicon glyphicon-pause"></div>
                </span>
            </div>
        </div>
    </div>

    <div id="measure-text"></div>
</div>