<nav class="navbar navbar-fixed-top" data-role="navigation" ng-controller="HeaderController as hdrctr">
    <div class="page-header">
        <div class="navbar-header">
            <div class="pull-right">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="pull-left">
                <a href="/#/" class="hidden-sm hidden-md hidden-lg" ng-click="linkClicked()"><div class="logo mobile"></div></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" ng-class="!isCollapsed && 'in'">
            <div>
                <ul class="navbar-nav nav">
                    <li class="logo hidden-xs">
                        <a href="/#/"><div class="logo"></div></a>
                    </li>
                    <li ui-route="/{{item.link}}" ng-repeat="item in hdrctr.menus.focimain">
                        <a mean-token="item.link" ui-sref='{{item.link}}' class="link" ui-sref-active="active" ng-click="linkClicked()">{{item.title}}</a>
                    </li>
                    <li ng-show="!hdrctr.hdrvars.authenticated">
                        <a ui-sref='auth.register' class="link" ui-sref-active="active" ng-click="linkClicked()">Register</a>
                    </li>
                    <li ng-show="!hdrctr.hdrvars.authenticated">
                        <a ui-sref='auth.login' class="link" ui-sref-active="active" ng-click="linkClicked()">Log In</a>
                    </li>
                    <li ng-show="hdrctr.hdrvars.authenticated">
                        <a href="#" ng-click="hdrctr.logout()" class="link">Log Out</a>
                    </li>
                    <li class="dropdown" uib-dropdown on-toggle="toggled(open)" ng-show="hdrctr.hdrvars.isAdmin">
                        <a href="#" class="dropdown-toggle link" uib-dropdown-toggle>
                            <span>Admin</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-route="/{{item.link}}" ng-class="{active: $uiRoute}" ng-repeat="item in hdrctr.menus.admin">
                                <a mean-token="item.link" ui-sref='{{item.link}}' ng-click="linkClicked()">{{item.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
