<div id="home-reader" ng-controller="HomeController">
  <div id="home" class="home-reader clearfix">
    <div class="intro-container col-md-12">
      <div class="intro-wrapper">
        <div class="intro-text">
          <span>Read faster. Comprehend better. Be Smarter.</span>
          <br>
          <br>
          <p>Read your favorite books to learn new reading skills!</p>
        </div>

        <focireader class="standalone"></focireader>

        <a href="/auth/login">Sign Up and Register <i class="glyphicon glyphicon-triangle-right"></i></a>
      </div>
    </div>
  </div>

  <div id="measure-text"></div>
</div>