<div class="library" ng-controller="LibraryController">
    <div class="round-title">
        <div class="title">Library</div>
        <div class="subtitle">Browse Collection</div>
    </div>

    <div ng-repeat="item in library">
        <div class="col-sm-3 col-md-3">
            <div class="library-item" ng-click="read(item.type, item._id)">
                <div>
                    <div class="book-img img-circle">
                        <i class="fa fa-newspaper-o" ng-show="item.type == 'News'"></i>
                        <i class="fa fa-book" ng-show="item.type == 'Book'"></i>
                        <i class="fa fa-file-text-o" ng-show="item.type == 'Other'"></i>
                        <i class="fa fa-file-text-o" ng-show="item.type == 'Passage'"></i>
                        <i class="fa fa-rss" ng-show="item.type == 'RSS'"></i>
                    </div>
                </div>
                <div class="book-info">
                    <div class="title">{{ item.title }}</div>
                    <div class="author">{{ item.author }}</div>
                    <!--<a ng-href="/#/read/{{ book.id }}/0" class="btn btn-primary read">Read</a>-->
                </div>
            </div>
        </div>
    </div>
</div>