<div data-ng-controller="LoginCtrl as login">
    <div id="register">

        <div class="alert alert-danger animated fadeIn" ng-show="login.loginError">{{login.loginError}}</div>

        <div class="title">Log In</div>

        <form id="login_form" ng-submit="login.login()">
            <div class="input-wrapper form-group">
                <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="login.user.email" class="form-control">
                <div class="error_message">Please enter a correct info #</div>
            </div>
            <div class="input-wrapper form-group">
                <input required id="password_block" name="password" type="{{login.input.type}}" placeholder="{{login.input.placeholder}}" ng-model="login.user.password" class="form-control">
                <div class="error_message">Please enter a correct info #</div>
                <div class="forgot-password">
                    <a ui-sref='forgot-password' class="text-right">Forgot your password?</a>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>