<div ng-controller="ParserTestController">
    <div class="round-title">
        <div class="title">Parser Test</div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 clearfix">
            <div class="form-group">
                <Label>Text</Label>
                <textarea ng-model="text" class="form-control" rows="8" required="true"></textarea>
            </div>
            <div class="form-group">
                <label>Frame Size</label>
                <select class="form-control" ng-model="frameSize" ng-required="true">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="button-bar">
                <button class="btn btn-primary pull-right" ng-click="parse()">Parse</button>
            </div>
        </div>
    </div>

    <br><br>

    <div ng-show="showResult">
        <focireader class="standalone"></focireader>

        <div class="row">
            <div class="col-md-offset-2 col-md-8 clearfix">
                <label>Result</label>
                <pre>{{parsedText}}</pre>
            </div>
        </div>
    </div>
</div>