<div id="library-read" ng-controller="ReadController">
    <div class="round-title">
        <div class="title">{{content.title}}</div>
    </div>
    <focireader class="standalone"></focireader>
</div>