<div data-ng-controller="RegisterCtrl as reg">
    <div ng-repeat="error in reg.registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <div class="alert alert-danger animated fadeIn" ng-show="reg.usernameError">{{reg.usernameError}}</div>
    <div class="alert alert-danger animated fadeIn" ng-show="reg.emailError">{{reg.emailError}}</div>
    <form id="register_form" ng-submit="reg.register()">
        <div class="title">Register</div>

        <div class="form-group">
            <input required id="name" type="text" name="name" placeholder="Full Name" ng-model="reg.user.name" class="form-control">
            <div class="error_message">Please enter a correct info #</div>
        </div>

        <div class="form-group">
            <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="reg.user.email" class="form-control">

            <div class="error_message">Please enter a correct info #</div>
        </div>

        <div class="form-group">
            <input required id="username" type="text" name="username" placeholder="Username" ng-model="reg.user.username" class="form-control">

            <div class="error_message">Please enter a correct info #</div>
        </div>

        <div class="form-group">
            <input required id="password_block" name="password" type="{{reg.input.type}}" placeholder="{{reg.input.placeholder}}" ng-model="reg.user.password" class="form-control">
            <div class="error_message">Please enter a correct info #</div>
        </div>
        <div class="form-group">
            <input required id="confirm_password" name="confirm_password" type="{{reg.input.type}}" placeholder="{{reg.input.placeholderConfirmPass}}" ng-model="reg.user.confirmPassword" class="form-control">
            <div class="error_message">Please enter a correct info #</div>
        </div>

        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</div>
