<div ng-controller="RssController">
    <div class="round-title">
        <div class="title">{{content.title}}</div>
    </div>

    <div class="rss row">
        <div class="col-md-7">
            <focireader class="standalone"></focireader>
        </div>
        <div class="col-md-5">
            <div class="post" ng-repeat="post in feed" ng-click="readPost($index)">
                <div class="title">{{post.title}}</div>
                <div class="date">{{post.date}}</div>
            </div>
        </div>
    </div>
</div>