{% for file in aggregatedassets.footer.js %}
  <script type="text/javascript" src="{{file}}"></script>
{% endfor %}

{% if (process.env.NODE_ENV == 'development') %}
  <script type="text/javascript" src="{{'//' + req.hostname + ':35729/livereload.js'}}"></script>
{% endif %}

{% if (process.env.NODE_ENV == 'production') %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64047947-2', 'auto');
  //ga('send', 'pageview');
</script>
{% endif %}