#home-reader .intro-text {
  font-size: 18px;
  color: #666;
  margin-bottom: 45px;
  line-height: 1.1;
  font-weight: bold;
}
#home-reader .intro-text span {
  font-size: 44px;
}
#home-reader .intro-text span:nth-child(odd) {
  color: #3fa8f4;
}
#home-reader .intro-text span:nth-child(even) {
  color: #b2b2b2;
}
#home-reader a {
  color: #25b0a9;
  border-bottom: 5px solid #25b0a9;
  font-size: 40px;
  font-weight: 700;
}
#home-reader a:hover,
#home-reader a:focus,
#home-reader a:active {
  text-decoration: none;
}
#home-reader a i {
  font-size: 22px;
}
#home-reader .controls {
  background: #ecf6f1;
  height: 56px;
  width: 100%;
  color: #00daa8;
}
#home-reader .chapter-num {
  color: white;
  font-size: 28px;
}
#home-reader .progress {
  border-radius: 0;
  margin-top: -1px;
  height: 10px;
  margin-bottom: 0;
  background: #5ea3dc;
}
#home-reader .progress .progress-bar {
  background: #00daa8;
  box-shadow: none;
}
#home-reader .read-panel {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 45px;
}
#home-reader .read-panel.standalone {
  border: 15px solid #cbcbcb;
  border-radius: 0;
}
#home-reader .read-panel .book-info {
  padding: 25px 0;
  color: white;
}
#home-reader .read-panel .book-info .book-img {
  width: 250px;
  height: 250px;
  margin: 0 auto 15px auto;
}
#home-reader .read-panel .book-info .title {
  font-size: 20px;
}
#home-reader .read-panel .book-info .author {
  font-size: 16px;
}
#home-reader .read-text {
  height: 44px;
  text-align: center;
  border: 1px solid #25b0a9;
  font-size: 1.2em;
  padding: 20px 0 0 0;
  font-weight: 400;
  border: 1px solid white;
  margin: 0 auto;
  height: 75px;
  width: 100%;
  background-color: #FFF;
  position: relative;
  clear: both;
}
#home-reader .read-text .foci-text {
  font-size: 33px !important;
  position: absolute;
}
#home-reader .player-btn {
  width: 56px;
  height: 56px;
  padding: 13px 0;
  font-size: 30px;
  color: #00daa8;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}
#home-reader .player-btn.reset {
  float: left;
  border-right: 2px solid #3967b6;
}
#home-reader .player-btn.play-pause,
#home-reader .player-btn.rewind-btn {
  float: right;
  border-left: 2px solid #3967b6;
}
#home-reader .disabled .player-btn {
  cursor: default;
}
#home-reader .reader-select-wrapper {
  position: absolute;
  width: 100%;
  padding-left: 56px;
  padding-right: 140px;
  height: 56px;
  max-width: 540px;
}
#home-reader .reader-select-wrapper .dropdown-menu {
  width: 100%;
  text-align: center;
}
#home-reader .reader-select-wrapper .dropdown-menu > li a {
  font-size: 28px;
  font-weight: 400;
  padding: 0;
  color: #3967b6;
  border: none;
}
#home-reader .wpm-selector {
  font-size: 34px;
  color: #3967b6;
  line-height: 56px;
  text-align: center;
  font-weight: 400;
}
#home-reader .reader-select {
  text-align: center;
  padding: 5px 15px;
  font-size: 20px;
  width: 100%;
  background: #25b0a9;
  height: 100%;
  border: none;
  color: white;
  margin-bottom: 0;
}
#home-reader .reader-select:focus {
  border: 0;
  outline: 0;
}
#home-reader #foci-analysis {
  margin: 0 auto;
  padding: 7.5px;
  top: 230px;
  left: 50%;
  height: 250px;
  width: 100%;
  background-color: transparent;
  border: none;
  position: relative;
  text-align: justify;
  transform: translate(-50%, -50%);
  overflow: auto;
  color: white;
  font-size: 20px;
  line-height: 32px;
}
#home-reader .arrow-down {
  width: 0;
  height: 0;
  border-left: 3px solid #00daa8;
  border-right: 3px solid #00daa8;
  border-top: 20px solid #00daa8;
  position: absolute;
  top: 0;
  left: 42%;
}
#home-reader .arrow-up {
  width: 0;
  bottom: 0%;
  position: absolute;
  height: 0;
  border-left: 1px solid #f55d6a;
  border-right: 1px solid #f55d6a;
  border-bottom: 20px solid #f55d6a;
  left: 42%;
}
#home-reader #measure-text {
  font-size: 33px;
  visibility: hidden;
  font-weight: 400;
  height: 0;
}
#home-reader #foci-analysis {
  top: 130px;
}
#home-reader #foci-analysis span.active-frame {
  background-color: #5ea3dc;
}
#home-reader .item {
  margin-top: 65px;
}
.home-reader {
  background: #f4f4f2;
  color: white;
  text-align: center;
}
.home-reader .reg {
  background: #5ea3dc;
  padding: 25px;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 25px;
}
.home-reader .reg label {
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.home-reader .reg input,
.home-reader .reg select {
  font-size: 20px;
  height: 50px;
  color: #5ea3dc;
  border-radius: 8px;
}
.home-reader .reg .btn {
  background: #00daa8;
  border-color: #00daa8;
  border-radius: 4px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
}
.home-reader .reg .btn:hover,
.home-reader .reg .btn:focus,
.home-reader .reg .btn:active {
  color: white;
}
.home-reader .headline {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.home-reader .btn.sign-up {
  background-color: white;
  border-color: white;
  color: #5ea3dc;
  font-size: 22px;
  font-weight: bold;
}
.home-reader .home-logo {
  margin: 0 auto;
}
.home-reader .social {
  font-size: 14px;
  margin-bottom: 45px;
}
.home-reader .social .social-icons img {
  margin-right: 15px;
}
.home-reader .info-text {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  #home-reader #foci-reader-text.read-text {
    height: 60px;
  }
  #home-reader #foci-reader-text.read-text .foci-text {
    font-size: 28px !important;
  }
  #home-reader #measure-text {
    font-size: 28px;
    visibility: hidden;
  }
  #home-reader .teachers,
  #home-reader .educators {
    margin-top: 55px;
  }
  #home-reader .reader-select-wrapper {
    position: absolute;
    height: 56px;
    max-width: 540px;
    left: 86px;
    right: 140px;
    padding: 0;
    width: auto;
  }
  #home-reader .wpm-selector {
    font-size: 28px;
  }
}
.full-page {
  position: relative;
}
.full-page .vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 100%;
}
#about .title {
  color: silver;
  font-size: 20px;
}
#about .foci-highlight {
  color: #25b0a9;
}
#about .versus {
  margin: 25px 0;
  color: silver;
  font-size: 20px;
  line-height: 265px;
}
@media only screen and (max-width: 991px) {
  #about .versus {
    line-height: 10px;
  }
}
