@primary-color: #00daa8;
@primary-color-disabled: rgba(14, 190, 193, .5);
@accent-color: rgb(242, 94, 89);
@accent-color-disabled: rgba(242, 94, 89, .5);
@secondary-color: #00daa8;
@tertiary-color: #00cce5;
@reader-text-size: 33px;

@import 'colors.less';


#home-reader {
  .intro-container {
  }
  .intro-text {
    font-size: 18px;
    color: #666;
    margin-bottom: 45px;
    line-height: 1.1;
    font-weight: bold;
    span {
      font-size: 44px;
      &:nth-child(odd) {
        color: @font-color-1;
      }
      &:nth-child(even) {
        color: @font-color-2;
      }
    }
  }
  a {
    color: @primary-color;
    border-bottom: 5px solid @primary-color;
    font-size: 40px;
    font-weight: 700;
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
    i {
      font-size: 22px;
    }
  }
  .controls {
    background: #ecf6f1;
    height: 56px;
    width: 100%;
    color: #00daa8;
  }
  .chapter-num {
    color: white;
    font-size: 28px;
  }
  .progress {
    border-radius: 0;
    margin-top: -1px;
    height: 10px;
    margin-bottom: 0;
    background: #5ea3dc;
    .progress-bar {
      background: #00daa8;
      box-shadow: none;
    }
  }
  .read-panel {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 45px;
    &.standalone {
      border: 15px solid #cbcbcb;
      border-radius: 0;
    }
    .book-info {
      padding: 25px 0;
      color: white;
      .book-img {
        width: 250px;
        height: 250px;
        margin: 0 auto 15px auto;
      }
      .title {
        font-size: 20px;
      }
      .author {
        font-size: 16px;
      }
    }
  }
  .read-text {
    height: 44px;
    text-align: center;
    border: 1px solid @primary-color;
    font-size: 1.2em;
    padding: 20px 0 0 0;
    position: relative;
    font-weight: 400;
    border: 1px solid white;
    margin: 0 auto;
    height: 75px;
    width: 100%;
    background-color: #FFF;
    position: relative;
    clear: both;
    .foci-text {
      font-size: @reader-text-size !important;
      position: absolute;
    }
  }
  .player-btn {
    width: 56px;
    height: 56px;
    padding: 13px 0;
    font-size: 30px;
    color: #00daa8;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    &.reset {
      float: left;
      border-right: 2px solid #3967b6;
    }
    &.play-pause, &.rewind-btn {
      float: right;
      border-left: 2px solid #3967b6;
    }
  }
  .disabled {
    .player-btn {
      cursor: default;
    }
  }
  .reader-select-wrapper {
    position: absolute;
    width: 100%;
    padding-left: 56px;
    padding-right: 140px;
    height: 56px;
    max-width: 540px;
    .dropdown-menu {
      width: 100%;
      text-align: center;
      & > li {
        & a {
          font-size: 28px;
          font-weight: 400;
          padding: 0;
          color: #3967b6;
          border: none;
        }
      }
    }
  }
  .wpm-selector {
    font-size: 34px;
    color: #3967b6;
    line-height: 56px;
    text-align: center;
    font-weight: 400;
  }
  .reader-select {
    text-align: center;
    padding: 5px 15px;
    font-size: 20px;
    width: 100%;
    background: @primary-color;
    height: 100%;
    border: none;
    color: white;
    margin-bottom: 0;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
  #foci-analysis{
    margin: 0 auto;
    padding:7.5px;
    top: 230px;
    left: 50%;
    height: 250px;
    width: 100%;
    background-color: transparent;
    border: none;
    position: relative;
    text-align: justify;
    transform: translate(-50%, -50%);
    overflow: auto;
    color: white;
    font-size: 20px;
    line-height: 32px;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 3px solid #00daa8;
    border-right: 3px solid #00daa8;
    border-top: 20px solid #00daa8;
    position: absolute;
    top: 0;
    left: 42%;
  }
  .arrow-up {
    width: 0;
    bottom: 0%;
    position: absolute;
    height: 0;
    border-left: 1px solid #f55d6a;
    border-right: 1px solid #f55d6a;
    border-bottom: 20px solid #f55d6a;
    left: 42%;
  }

  #measure-text {
    font-size: @reader-text-size;
    visibility: hidden;
    font-weight: 400;
    height: 0;
  }

  #foci-analysis {
    top: 130px;
  }

  #foci-analysis span.active-frame {
    background-color: #5ea3dc;
  }

  .item {
    margin-top: 65px;
  }
}

.home-reader {
  .reg {
    background: #5ea3dc;
    padding: 25px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 25px;
    label {
      font-weight: 400;
      font-size: 20px;
      color: white;
    }
    input, select {
      font-size: 20px;
      height: 50px;
      color: #5ea3dc;
      border-radius: 8px;
    }
    .btn {
      background: #00daa8;
      border-color: #00daa8;
      border-radius: 4px;
      width: 100%;
      font-size: 30px;
      font-weight: 700;
      margin-top: 15px;
      &:hover, &:focus, &:active {
        color: white;
      }
    }
  }
  background: @background-color;
  color: white;
  text-align: center;
  .headline {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn.sign-up {
    background-color: white;
    border-color: white;
    color: @tertiary-color;
    font-size: 22px;
    font-weight: bold;
  }
  .home-logo {
    margin: 0 auto;
  }
  .social {
    font-size: 14px;
    margin-bottom: 45px;
    .social-icons {
      img {
        margin-right: 15px;
      }
    }
  }
  .info-text {
    font-size: 18px;
  }
}

@media only screen and (max-width : 768px) {
  #home-reader {
    #foci-reader-text.read-text {
      height: 60px;
      .foci-text {
        font-size: 28px !important;
      }
    }
    #measure-text {
      font-size: 28px;
      visibility: hidden;
    }
    .teachers, .educators {
      margin-top: 55px;
    }
    .reader-select-wrapper {
      position: absolute;
      height: 56px;
      max-width: 540px;
      left: 86px;
      right: 140px;
      padding: 0;
      width: auto;
    }
    .wpm-selector {
      font-size: 28px;
    }
  }
}

.full-page {
  position: relative;
  .vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    width: 100%;
  }
}


#about {
  .title {
    color: silver;
    font-size: 20px;
  }
  .foci-highlight {
    color: @primary-color;
  }
  .versus {
    margin: 25px 0;
    color: silver;
    font-size: 20px;
    line-height: 265px;
  }
}

@media only screen and (max-width : 991px) {
  #about {
    .versus {
      line-height: 10px;
    }
  }
}