.login-card {
  text-align: center;
  background: white;
  border-radius: 6px;
  border: 1px solid white;
  padding: 15px 45px;
  .title {
    color: #3fa8f4;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }
  button {
    width: 100%;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: 400;
    height: 40px;
  }
  .auth-separator {
    margin: 5px 0 15px 0;
    position: relative;
    text-align: center;
    &:after, &:before {
      display: block;
      content: " ";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background-color: #ccc;
    }
    &:after {
      right: 0;
    }
  }
}

.login-button {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  height: 40px;
  font-size: 18px;
  &.google {
    background: #db4437;
    border-color: #db4437;
  }
  &.facebook {
    background: #3B5998;
    border-color: #3B5998;
  }
  .buttonText, a {
    position: absolute;
    width: 100%;
    left: 0;
    line-height: 30px;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  i {
    float: left;
    line-height: 30px;
    font-size: 22px;
  }
}

.forgot-password {
  margin-top: 5px;
  text-align: right;
}