@primary-color: #25b0a9;
@primary-color-disabled: rgba(14, 190, 193, .5);
@accent-color: rgb(242, 94, 89);
@accent-color-disabled: rgba(242, 94, 89, .5);
@secondary-color: #00daa8;
//@tertiary-color: #00cce5;
@tertiary-color: #5ea3dc;
@background-color: #f4f4f2;
@reader-border: #cbcbcb;
@font-color-1: #3fa8f4;
@font-color-2: #b2b2b2;
