html {
  height: 100%;
}
body {
  font-family: 'ProximaNova', sans-serif;
  background: #f4f4f2;
}
body .button-bar,
body .actions-bar {
  clear: both;
  margin-top: 15px;
  padding-left: 5px;
  margin-bottom: 15px;
  height: 47px;
}
body .button-bar .btn,
body .actions-bar .btn {
  float: right;
  margin-left: 10px;
}
body.register,
body.login {
  background: #f4f4f2;
}
body .content {
  margin-top: 0;
  padding-top: 136px;
}
body .container {
  box-shadow: none;
  padding-bottom: 85px;
  min-height: 100%;
  position: relative;
}
.btn {
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 35px;
  color: white;
}
.btn.btn-default {
  color: black;
}
.btn.btn-primary {
  background-color: #5ea3dc;
  border-color: #5ea3dc;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #00daa8;
  border-color: #00daa8;
}
.btn.btn-secondary {
  color: white;
  background-color: #00daa8;
  border-color: #00daa8;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  background-color: #25b0a9;
  border-color: #25b0a9;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
input[type=checkbox] {
  height: 28px;
}
#toast-container > .toast-warning {
  background-image: none !important;
}
#toast-container > .toast-error {
  background-image: none !important;
}
#toast-container > .toast-info {
  background-image: none !important;
}
#toast-container > .toast-success {
  background-image: none !important;
}
footer {
  text-align: center;
  background-color: #25b0a9;
  padding: 15px;
  width: 100%;
  color: white;
}
div.logo {
  background-image: url(../img/logo.png);
  height: 100px;
  width: 135px;
  background-size: cover;
}
div.logo.mobile {
  height: 40px;
  width: 54px;
  margin-left: 15px;
  margin-top: 4px;
}
a {
  color: #25b0a9;
  text-decoration: none;
}
a:hover {
  color: #00daa8;
}
.round-title {
  width: 350px;
  height: 100px;
  background-color: #5ea3dc;
  border-bottom-left-radius: 450px 250px;
  border-bottom-right-radius: 450px 250px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 60px;
}
.round-title .title {
  font-size: 28px;
  padding-top: 12px;
}
.round-title .subtitle {
  font-size: 16px;
}
.read {
  background-color: #25b0a9;
}
.primary {
  background-color: #25b0a9 !important;
}
.secondary {
  background-color: #00daa8 !important;
}
.tertiary {
  background-color: #5ea3dc !important;
}
.center-group {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    margin-top: 50px;
  }
  .round-title {
    width: 275px;
    height: 80px;
    margin-bottom: 60px;
  }
  .round-title .title {
    font-size: 24px;
    padding-top: 5px;
  }
  .round-title .subtitle {
    font-size: 14px;
  }
}
.item {
  text-align: center;
}
#home {
  margin-top: 45px;
}
.account {
  text-align: left;
}
.register .container,
.login .container {
  margin-top: 45px;
}
label {
  font-size: 16px;
}
.account-info {
  font-size: 18px;
  font-weight: 400;
}
