@import 'colors.less';

html {
  height: 100%;
}

body {
  font-family: 'ProximaNova', sans-serif;
  background: @background-color;
  .button-bar, .actions-bar {
    clear: both;
    margin-top: 15px;
    padding-left: 5px;
    margin-bottom: 15px;
    height: 47px;
    .btn {
      float: right;
      margin-left: 10px;
    }
  }
  &.register, &.login {
    background: @background-color;
  }
  .content {
    margin-top: 0;
    padding-top: 136px;
  }

  .container {
    box-shadow: none;
    //padding-top: 45px;
    padding-bottom: 85px;
    min-height: 100%;
    position: relative;
  }
}

.btn {
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 35px;
  color: white;
  &.btn-default {
    color: black;
  }
  &.btn-primary {
    background-color: @tertiary-color;
    border-color: @tertiary-color;
    &:hover, &:focus {
      background-color: @secondary-color;
      border-color: @secondary-color;
    }
  }
  &.btn-secondary {
    color: white;
    background-color: @secondary-color;
    border-color: @secondary-color;
    &:hover, &:focus {
      background-color: @primary-color;
      border-color: @primary-color;
    }
  }
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}
input[type=checkbox] {
  height: 28px;
}

#toast-container {
  & > .toast-warning {
    background-image: none !important;
  }
  & > .toast-error {
    background-image: none !important;
  }
  & > .toast-info {
    background-image: none !important;
  }
  & > .toast-success {
    background-image: none !important;
  }
}

.wrapper {
  // min-height: 100%;
  // position: relative;
  // margin: 0 0 -50px 0;
}

footer {
  text-align: center;
  background-color: @primary-color;
  padding: 15px;
  width: 100%;
  color: white;
}

div.logo {
  background-image: url(../img/logo.png);
  height: 100px;
  width: 135px;
  background-size:cover;
  &.mobile {
    height: 40px;
    width: 54px;
    margin-left: 15px;
    margin-top: 4px;
  }
}

a {
  color: @primary-color;
  text-decoration: none;
  &:hover {
    color: @secondary-color;
  }
}

.round-title {
  width: 350px;
  height: 100px;
  background-color: @tertiary-color;
  border-bottom-left-radius: 450px 250px;
  border-bottom-right-radius: 450px 250px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  color: white;
  margin: 0 auto;
  .title {
    font-size: 28px;
    padding-top:12px;
  }
  .subtitle {
    font-size: 16px;
  }
  margin-bottom: 60px;
}

.read {
  background-color: @primary-color;
}

.primary {
  background-color: @primary-color !important;
}

.secondary {
  background-color: @secondary-color !important;
}

.tertiary {
  background-color: @tertiary-color !important;
}

.center-group {
  margin: 0 auto;
}

@media only screen and (max-width : 768px) {
  .container {
    margin-top: 50px;
  }
  .round-title {
    width: 275px;
    height: 80px;
    .title {
      font-size: 24px;
      padding-top:5px;
    }
    .subtitle {
      font-size: 14px;
    }
    margin-bottom: 60px;
  }
}

.item {
  text-align: center;
}

@container-top-margin: 45px;
#home {
  margin-top: @container-top-margin;
}

.account {
  text-align: left;
}

.register, .login {
  .container {
    margin-top: @container-top-margin;
  }
}

label {
  font-size: 16px;
}

.account-info {
  font-size: 18px;
  font-weight: 400;
}