@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proximanova-bold-webfont.eot');
  src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanova-bold-webfont.woff2') format('woff2'), url('../font/proximanova-bold-webfont.woff') format('woff'), url('../font/proximanova-bold-webfont.ttf') format('truetype'), url('../font/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proximanova-regular-webfont.eot');
  src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanova-regular-webfont.woff2') format('woff2'), url('../font/proximanova-regular-webfont.woff') format('woff'), url('../font/proximanova-regular-webfont.ttf') format('truetype'), url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font-family: 'ProximaNova', sans-serif;
  background: #f4f4f2;
}
body .button-bar,
body .actions-bar {
  clear: both;
  margin-top: 15px;
  padding-left: 5px;
  margin-bottom: 15px;
  height: 47px;
}
body .button-bar .btn,
body .actions-bar .btn {
  float: right;
  margin-left: 10px;
}
body.register,
body.login {
  background: #f4f4f2;
}
body .content {
  margin-top: 0;
  padding-top: 136px;
}
body .container {
  box-shadow: none;
  padding-bottom: 85px;
  min-height: 100%;
  position: relative;
}
.btn {
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 35px;
  color: white;
}
.btn.btn-default {
  color: black;
}
.btn.btn-primary {
  background-color: #00cce5;
  border-color: #00cce5;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #00daa8;
  border-color: #00daa8;
}
.btn.btn-secondary {
  color: white;
  background-color: #00daa8;
  border-color: #00daa8;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  background-color: #00daa8;
  border-color: #00daa8;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
input[type=checkbox] {
  height: 28px;
}
#toast-container > .toast-warning {
  background-image: none !important;
}
#toast-container > .toast-error {
  background-image: none !important;
}
#toast-container > .toast-info {
  background-image: none !important;
}
#toast-container > .toast-success {
  background-image: none !important;
}
footer {
  text-align: center;
  background-color: #00daa8;
  padding: 15px;
  width: 100%;
  color: white;
}
div.logo {
  background-image: url(../img/logo.png);
  height: 100px;
  width: 135px;
  background-size: cover;
}
div.logo.mobile {
  height: 40px;
  width: 54px;
  margin-left: 15px;
  margin-top: 4px;
}
a {
  color: #00daa8;
  text-decoration: none;
}
a:hover {
  color: #00daa8;
}
.round-title {
  width: 350px;
  height: 100px;
  background-color: #00cce5;
  border-bottom-left-radius: 450px 250px;
  border-bottom-right-radius: 450px 250px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 60px;
}
.round-title .title {
  font-size: 28px;
  padding-top: 12px;
}
.round-title .subtitle {
  font-size: 16px;
}
.read {
  background-color: #00daa8;
}
.primary {
  background-color: #00daa8 !important;
}
.secondary {
  background-color: #00daa8 !important;
}
.tertiary {
  background-color: #00cce5 !important;
}
.center-group {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    margin-top: 50px;
  }
  .round-title {
    width: 275px;
    height: 80px;
    margin-bottom: 60px;
  }
  .round-title .title {
    font-size: 24px;
    padding-top: 5px;
  }
  .round-title .subtitle {
    font-size: 14px;
  }
}
.item {
  text-align: center;
}
#home {
  margin-top: 45px;
}
.account {
  text-align: left;
}
.register .container,
.login .container {
  margin-top: 45px;
}
label {
  font-size: 16px;
}
.account-info {
  font-size: 18px;
  font-weight: 400;
}
.navbar,
body nav,
.navbar.navbar-default.ng-scope {
  box-shadow: none;
}
nav {
  background-color: white;
  text-align: center;
}
nav #nav-bar {
  background: white;
}
nav .navbar-header {
  box-shadow: none;
}
nav .navbar-nav {
  display: inline-block;
  float: none;
  width: auto;
  list-style-type: none;
  padding: 0 25px;
  margin: 0 auto;
}
nav .navbar-nav > li.logo a:hover,
nav .navbar-nav > li.logo a:focus {
  background: none;
}
nav .navbar-nav > li.active > a.link {
  color: #3fa8f4;
}
nav .navbar-nav > li > a.link {
  margin-top: 55px;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: #00daa8;
}
nav .navbar-nav > li > a.link:hover,
nav .navbar-nav > li > a.link:focus {
  background: transparent;
  color: #00daa8;
}
nav .navbar-nav > li > a.link:focus {
  background: transparent;
  color: #00daa8;
}
nav .navbar-nav > li > a.link.selected {
  color: #3fa8f4;
}
nav .navbar-nav > li > a.link.active {
  color: #3fa8f4;
}
nav .navbar-nav > li .btn {
  margin-top: 32px;
  margin-left: 15px;
  font-size: 18px;
  padding: 12px 30px;
}
.navbar-toggle {
  background: #00daa8;
}
.navbar-toggle .icon-bar {
  background: white;
}
@media only screen and (max-width: 768px) {
  nav .navbar-nav > li > a.link {
    margin-top: 0;
  }
}
#home-reader .intro-text {
  font-size: 18px;
  color: #666;
  margin-bottom: 45px;
  line-height: 1.1;
  font-weight: bold;
}
#home-reader .intro-text span {
  font-size: 44px;
}
#home-reader .intro-text span:nth-child(odd) {
  color: #3fa8f4;
}
#home-reader .intro-text span:nth-child(even) {
  color: #b2b2b2;
}
#home-reader a {
  color: #00daa8;
  border-bottom: 5px solid #00daa8;
  font-size: 40px;
  font-weight: 700;
}
#home-reader a:hover,
#home-reader a:focus,
#home-reader a:active {
  text-decoration: none;
}
#home-reader a i {
  font-size: 22px;
}
#home-reader .controls {
  background: #ecf6f1;
  height: 56px;
  width: 100%;
  color: #00daa8;
}
#home-reader .chapter-num {
  color: white;
  font-size: 28px;
}
#home-reader .progress {
  border-radius: 0;
  margin-top: -1px;
  height: 10px;
  margin-bottom: 0;
  background: #5ea3dc;
}
#home-reader .progress .progress-bar {
  background: #00daa8;
  box-shadow: none;
}
#home-reader .read-panel {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 45px;
}
#home-reader .read-panel.standalone {
  border: 15px solid #cbcbcb;
  border-radius: 0;
}
#home-reader .read-panel .book-info {
  padding: 25px 0;
  color: white;
}
#home-reader .read-panel .book-info .book-img {
  width: 250px;
  height: 250px;
  margin: 0 auto 15px auto;
}
#home-reader .read-panel .book-info .title {
  font-size: 20px;
}
#home-reader .read-panel .book-info .author {
  font-size: 16px;
}
#home-reader .read-text {
  height: 44px;
  text-align: center;
  border: 1px solid #00daa8;
  font-size: 1.2em;
  padding: 20px 0 0 0;
  font-weight: 400;
  border: 1px solid white;
  margin: 0 auto;
  height: 75px;
  width: 100%;
  background-color: #FFF;
  position: relative;
  clear: both;
}
#home-reader .read-text .foci-text {
  font-size: 33px !important;
  position: absolute;
}
#home-reader .player-btn {
  width: 56px;
  height: 56px;
  padding: 13px 0;
  font-size: 30px;
  color: #00daa8;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}
#home-reader .player-btn.reset {
  float: left;
  border-right: 2px solid #3967b6;
}
#home-reader .player-btn.play-pause,
#home-reader .player-btn.rewind-btn {
  float: right;
  border-left: 2px solid #3967b6;
}
#home-reader .disabled .player-btn {
  cursor: default;
}
#home-reader .reader-select-wrapper {
  position: absolute;
  width: 100%;
  padding-left: 56px;
  padding-right: 140px;
  height: 56px;
  max-width: 540px;
}
#home-reader .reader-select-wrapper .dropdown-menu {
  width: 100%;
  text-align: center;
}
#home-reader .reader-select-wrapper .dropdown-menu > li a {
  font-size: 28px;
  font-weight: 400;
  padding: 0;
  color: #3967b6;
  border: none;
}
#home-reader .wpm-selector {
  font-size: 34px;
  color: #3967b6;
  line-height: 56px;
  text-align: center;
  font-weight: 400;
}
#home-reader .reader-select {
  text-align: center;
  padding: 5px 15px;
  font-size: 20px;
  width: 100%;
  background: #00daa8;
  height: 100%;
  border: none;
  color: white;
  margin-bottom: 0;
}
#home-reader .reader-select:focus {
  border: 0;
  outline: 0;
}
#home-reader #foci-analysis {
  margin: 0 auto;
  padding: 7.5px;
  top: 230px;
  left: 50%;
  height: 250px;
  width: 100%;
  background-color: transparent;
  border: none;
  position: relative;
  text-align: justify;
  transform: translate(-50%, -50%);
  overflow: auto;
  color: white;
  font-size: 20px;
  line-height: 32px;
}
#home-reader .arrow-down {
  width: 0;
  height: 0;
  border-left: 3px solid #00daa8;
  border-right: 3px solid #00daa8;
  border-top: 20px solid #00daa8;
  position: absolute;
  top: 0;
  left: 42%;
}
#home-reader .arrow-up {
  width: 0;
  bottom: 0%;
  position: absolute;
  height: 0;
  border-left: 1px solid #f55d6a;
  border-right: 1px solid #f55d6a;
  border-bottom: 20px solid #f55d6a;
  left: 42%;
}
#home-reader #measure-text {
  font-size: 33px;
  visibility: hidden;
  font-weight: 400;
  height: 0;
}
#home-reader #foci-analysis {
  top: 130px;
}
#home-reader #foci-analysis span.active-frame {
  background-color: #5ea3dc;
}
#home-reader .item {
  margin-top: 65px;
}
.home-reader {
  background: #f4f4f2;
  color: white;
  text-align: center;
}
.home-reader .reg {
  background: #5ea3dc;
  padding: 25px;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 25px;
}
.home-reader .reg label {
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.home-reader .reg input,
.home-reader .reg select {
  font-size: 20px;
  height: 50px;
  color: #5ea3dc;
  border-radius: 8px;
}
.home-reader .reg .btn {
  background: #00daa8;
  border-color: #00daa8;
  border-radius: 4px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
}
.home-reader .reg .btn:hover,
.home-reader .reg .btn:focus,
.home-reader .reg .btn:active {
  color: white;
}
.home-reader .headline {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.home-reader .btn.sign-up {
  background-color: white;
  border-color: white;
  color: #00cce5;
  font-size: 22px;
  font-weight: bold;
}
.home-reader .home-logo {
  margin: 0 auto;
}
.home-reader .social {
  font-size: 14px;
  margin-bottom: 45px;
}
.home-reader .social .social-icons img {
  margin-right: 15px;
}
.home-reader .info-text {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  #home-reader #foci-reader-text.read-text {
    height: 60px;
  }
  #home-reader #foci-reader-text.read-text .foci-text {
    font-size: 28px !important;
  }
  #home-reader #measure-text {
    font-size: 28px;
    visibility: hidden;
  }
  #home-reader .teachers,
  #home-reader .educators {
    margin-top: 55px;
  }
  #home-reader .reader-select-wrapper {
    position: absolute;
    height: 56px;
    max-width: 540px;
    left: 86px;
    right: 140px;
    padding: 0;
    width: auto;
  }
  #home-reader .wpm-selector {
    font-size: 28px;
  }
}
.full-page {
  position: relative;
}
.full-page .vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 100%;
}
#about .title {
  color: silver;
  font-size: 20px;
}
#about .foci-highlight {
  color: #00daa8;
}
#about .versus {
  margin: 25px 0;
  color: silver;
  font-size: 20px;
  line-height: 265px;
}
@media only screen and (max-width: 991px) {
  #about .versus {
    line-height: 10px;
  }
}
#home-reader {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #666;
}
#home-reader h1 {
  font-size: 44px;
  font-weight: 700;
  color: #b2b2b2;
}
#home-reader h1 span {
  color: #3fa8f4;
}
#home-reader h2 {
  font-size: 30px;
  color: #989898;
  font-weight: 700;
}
#home-reader h3 {
  font-size: 26px;
  color: #00daa8;
  font-weight: 700;
}
#home-reader .carousel-indicators {
  bottom: -15px;
}
#home-reader .carousel-indicators li {
  background: #cbcbcb;
  border-color: #cbcbcb;
  width: 20px;
  height: 20px;
}
#home-reader .carousel-indicators .active {
  background: #3fa8f4;
  border-color: #3fa8f4;
}
#home-reader img {
  margin: 0 auto;
}
#home-reader #about,
#home-reader #get-involved,
#home-reader #login {
  clear: both;
}
#home-reader #get-involved,
#home-reader #login {
  clear: both;
}
#home-reader #login {
  min-height: 900px;
}
#home-reader .next {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  color: #3fa8f4;
  padding-bottom: 45px;
}
#home-reader .next i {
  font-size: 60px;
}
.comprehend .title {
  font-size: 20px;
  color: #00daa8;
  margin-top: 45px;
}
.comprehend img.logo {
  height: 90px;
  padding-bottom: 15px;
}
.comprehend .demo {
  width: auto;
  background: white;
  padding: 20px 30px;
  margin-bottom: 25px;
  display: inline-block;
}
.comprehend .demo .block {
  display: inline-block;
  border-bottom: 7px solid #3fa8f4;
  margin: 0;
  margin-right: 20px;
}
.dropshadow {
  width: 475px;
  height: 15px;
  background: #cbcbcb;
  border-radius: 475px / 15px;
  margin: 35px auto;
}
.carousel-inner {
  min-height: 610px;
}
.carousel-inner > .item {
  margin: 0px 0 25px 0;
}
.login-card {
  text-align: center;
  background: white;
  border-radius: 6px;
  border: 1px solid white;
  padding: 15px 45px;
}
.login-card .title {
  color: #3fa8f4;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.login-card button {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  height: 40px;
}
.login-card .auth-separator {
  margin: 5px 0 15px 0;
  position: relative;
  text-align: center;
}
.login-card .auth-separator:after,
.login-card .auth-separator:before {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ccc;
}
.login-card .auth-separator:after {
  right: 0;
}
.login-button {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  height: 40px;
  font-size: 18px;
}
.login-button.google {
  background: #db4437;
  border-color: #db4437;
}
.login-button.facebook {
  background: #3B5998;
  border-color: #3B5998;
}
.login-button .buttonText,
.login-button a {
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 30px;
  color: white;
}
.login-button .buttonText:hover,
.login-button a:hover {
  text-decoration: none;
}
.login-button i {
  float: left;
  line-height: 30px;
  font-size: 22px;
}
.forgot-password {
  margin-top: 5px;
  text-align: right;
}
.book-info {
  clear: both;
  padding-top: 15px;
  color: #00daa8;
  font-size: 18px;
  text-align: center;
}
.book-info i {
  color: #00daa8;
  margin-right: 5px;
}
.book-info ul {
  padding-left: 0;
  list-style: none;
}
.book-info ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.book-info ul li:last-child {
  border-bottom: none;
}
.book-info .book-info {
  clear: both;
  padding-top: 15px;
}
.book-info .book-info i {
  margin-right: 5px;
}
.book-info .book-info ul {
  padding-left: 15px;
  list-style: none;
}
.book-info .book-info ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.book-info .book-info ul li:last-child {
  border-bottom: none;
}
.book-info .book-info .read {
  margin-top: 25px;
}
.book-info .book-info .add {
  margin-top: 15px;
  font-size: 14px;
}
.library .library-item {
  cursor: pointer;
  margin-bottom: 45px;
}
.library .library-item .book-img {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}
.library .library-item .book-img i {
  font-size: 54px;
  position: relative;
  top: calc(23%);
  color: #888;
}
.library .library-item .book-info {
  clear: both;
  padding-top: 15px;
}
.library .library-item .book-info .title {
  font-weight: 700;
  height: 50px;
}
.library .library-item .book-info .author {
  font-size: 16px;
}
.library .library-item .book-info i {
  margin-right: 5px;
}
.library .library-item .book-info ul {
  padding-left: 15px;
  list-style: none;
}
.library .library-item .book-info ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.library .library-item .book-info ul li:last-child {
  border-bottom: none;
}
.library .library-item .book-info .read {
  margin-top: 25px;
}
.library .library-item .book-info .add {
  margin-top: 15px;
  font-size: 14px;
}
.library .library-item td {
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  body .content {
    padding-top: 0;
  }
  .round-title {
    width: 275px;
    height: 80px;
    margin-bottom: 60px;
  }
  .round-title .title {
    font-size: 24px;
    padding-top: 5px;
  }
  .round-title .subtitle {
    font-size: 14px;
  }
  .register .container,
  .login .container {
    margin-top: 90px;
  }
  .dropshadow {
    display: none;
  }
  #home-reader .intro-text span {
    font-size: 30px;
  }
  #home-reader a {
    font-size: 30px;
  }
}
.alerts {
  margin-top: 25px;
}
.rss {
  font-size: 14px;
}
.rss .post {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.rss .post .title {
  font-size: 18px;
  font-weight: 700;
}
.reader.list {
  display: none;
}
.collapse-text-toggle {
  font-size: 0.9em;
  color: #00daa8;
  cursor: pointer;
}
.collapse-text-toggle:hover {
  color: #222222;
}
.collapse-text-toggle:before {
  content: '\00a0(';
}
.collapse-text-toggle:after {
  content: ')';
}
