@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proximanova-bold-webfont.eot');
  src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/proximanova-bold-webfont.woff2') format('woff2'),
  url('../font/proximanova-bold-webfont.woff') format('woff'),
  url('../font/proximanova-bold-webfont.ttf') format('truetype'),
  url('../font/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proximanova-regular-webfont.eot');
  src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/proximanova-regular-webfont.woff2') format('woff2'),
  url('../font/proximanova-regular-webfont.woff') format('woff'),
  url('../font/proximanova-regular-webfont.ttf') format('truetype'),
  url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}