.navbar,
body nav,
.navbar.navbar-default.ng-scope {
  box-shadow: none;
}
nav {
  background-color: white;
  text-align: center;
}
nav #nav-bar {
  background: white;
}
nav .navbar-header {
  box-shadow: none;
}
nav .navbar-nav {
  display: inline-block;
  float: none;
  width: auto;
  list-style-type: none;
  padding: 0 25px;
  margin: 0 auto;
}
nav .navbar-nav > li.logo a:hover,
nav .navbar-nav > li.logo a:focus {
  background: none;
}
nav .navbar-nav > li.active > a.link {
  color: #3fa8f4;
}
nav .navbar-nav > li > a.link {
  margin-top: 55px;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: #25b0a9;
}
nav .navbar-nav > li > a.link:hover,
nav .navbar-nav > li > a.link:focus {
  background: transparent;
  color: #00daa8;
}
nav .navbar-nav > li > a.link:focus {
  background: transparent;
  color: #25b0a9;
}
nav .navbar-nav > li > a.link.selected {
  color: #3fa8f4;
}
nav .navbar-nav > li > a.link.active {
  color: #3fa8f4;
}
nav .navbar-nav > li .btn {
  margin-top: 32px;
  margin-left: 15px;
  font-size: 18px;
  padding: 12px 30px;
}
.navbar-toggle {
  background: #25b0a9;
}
.navbar-toggle .icon-bar {
  background: white;
}
@media only screen and (max-width: 768px) {
  nav .navbar-nav > li > a.link {
    margin-top: 0;
  }
}
