@import 'colors.less';

.navbar, body nav, .navbar.navbar-default.ng-scope {
  box-shadow: none;
}

nav {
  background-color: white;
  text-align: center;
  #nav-bar {
    background: white;
  }
  .navbar-header {
    box-shadow: none;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    width: auto;
    list-style-type: none;
    padding: 0 25px;
    margin: 0 auto;
    &>li.logo {
      a:hover, a:focus {
        background: none;
      }
    }
    &>li {
      &.active {
        & > a.link {
          color: #3fa8f4;
        }
      }
      & > a.link {
        margin-top: 55px;
        padding: 10px 15px;
        font-size: 24px;
        font-weight: 700;
        border: none;
        color: @primary-color;
        &:hover, &:focus {
          background: transparent;
          color: @secondary-color;
        }
        &:focus {
          background: transparent;
          color: @primary-color;
        }
        &.selected {
          color: #3fa8f4;
        }
        &.active {
          color: #3fa8f4;
        }
      }
      .btn {
        margin-top: 32px;
        margin-left: 15px;
        font-size: 18px;
        padding: 12px 30px;
      }
    }
  }
  ul {


  }
}

.navbar-toggle {
  background: @primary-color;
  .icon-bar {
    background: white;
  }
}

@media only screen and (max-width : 768px) {
  nav {
    .navbar-nav {
      &>li {
        & > a.link {
          margin-top: 0;
        }
      }
    }
  }
}