@import 'colors.less';

#home-reader {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #666;
  h1 {
    font-size: 44px;
    font-weight: 700;
    color: @font-color-2;
    span {
      color: @font-color-1;
    }
  }
  h2 {
    font-size: 30px;
    color: #989898;
    font-weight: 700;
  }
  h3 {
    font-size: 26px;
    color: @primary-color;
    font-weight: 700;
  }
  .carousel-indicators  {
    bottom: -15px;
    li {
      background: #cbcbcb;
      border-color: #cbcbcb;
      width: 20px;
      height: 20px;
    }
    .active {
      background: #3fa8f4;
      border-color: #3fa8f4;
    }
  }
  img {
    margin: 0 auto;
  }
  #about, #get-involved, #login {
    clear: both;
  }
  #get-involved, #login {
    clear: both;
  }
  #login {
    min-height: 900px;
  }

  .next {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #3fa8f4;
    padding-bottom: 45px;
    i {
      font-size: 60px;
    }
  }
}

.comprehend {
  .title {
    font-size: 20px;
    color: @primary-color;
    margin-top: 45px;
  }
  img.logo {
    height: 90px;
    padding-bottom: 15px;
  }
  .demo {
    width: auto;
    background: white;
    padding: 20px 30px;
    margin-bottom: 25px;
    display: inline-block;
    .block {
      display: inline-block;
      border-bottom: 7px solid #3fa8f4;
      margin: 0;
      margin-right: 20px;
    }
  }
}

.dropshadow {
  width: 475px;
  height: 15px;
  background: #cbcbcb;
  border-radius: ~"475px / 15px";
  margin: 35px auto;
}

.carousel-inner {
  min-height: 610px;
  &>.item {
    margin: 0px 0 25px 0;
  }
}