#home-reader {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #666;
}
#home-reader h1 {
  font-size: 44px;
  font-weight: 700;
  color: #b2b2b2;
}
#home-reader h1 span {
  color: #3fa8f4;
}
#home-reader h2 {
  font-size: 30px;
  color: #989898;
  font-weight: 700;
}
#home-reader h3 {
  font-size: 26px;
  color: #25b0a9;
  font-weight: 700;
}
#home-reader .carousel-indicators {
  bottom: -15px;
}
#home-reader .carousel-indicators li {
  background: #cbcbcb;
  border-color: #cbcbcb;
  width: 20px;
  height: 20px;
}
#home-reader .carousel-indicators .active {
  background: #3fa8f4;
  border-color: #3fa8f4;
}
#home-reader img {
  margin: 0 auto;
}
#home-reader #about,
#home-reader #get-involved,
#home-reader #login {
  clear: both;
}
#home-reader #get-involved,
#home-reader #login {
  clear: both;
}
#home-reader #login {
  min-height: 900px;
}
#home-reader .next {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  color: #3fa8f4;
  padding-bottom: 45px;
}
#home-reader .next i {
  font-size: 60px;
}
.comprehend .title {
  font-size: 20px;
  color: #25b0a9;
  margin-top: 45px;
}
.comprehend img.logo {
  height: 90px;
  padding-bottom: 15px;
}
.comprehend .demo {
  width: auto;
  background: white;
  padding: 20px 30px;
  margin-bottom: 25px;
  display: inline-block;
}
.comprehend .demo .block {
  display: inline-block;
  border-bottom: 7px solid #3fa8f4;
  margin: 0;
  margin-right: 20px;
}
.dropshadow {
  width: 475px;
  height: 15px;
  background: #cbcbcb;
  border-radius: 475px / 15px;
  margin: 35px auto;
}
.carousel-inner {
  min-height: 610px;
}
.carousel-inner > .item {
  margin: 0px 0 25px 0;
}
