@import 'colors.less';

.book-info {
  clear: both;
  padding-top: 15px;
  color: @primary-color;
  font-size: 18px;
  text-align: center;
  i {
    color: @secondary-color;
    margin-right: 5px;
  }
  ul {
    padding-left: 0;
    list-style: none;
    li {
      padding: 5px 15px;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .book-info {
    clear: both;
    padding-top: 15px;
    i {
      margin-right: 5px;
    }
    ul {
      padding-left: 15px;
      list-style: none;
      li {
        padding: 5px 15px;
        border-bottom: 1px solid #ccc;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .read {
      margin-top: 25px;
    }
    .add {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
.library {
  .library-item {
    cursor: pointer;
    margin-bottom: 45px;
    //height: 300px;
    .book-img {
      width: 100px;
      height: 100px;
      background-color: #ccc;
      background-position: center center;
      background-size: cover;
      margin: 0 auto;
      text-align: center;
      i {
        font-size: 54px;
        position: relative;
        top: calc(50% - 27px);
        color: #888;
      }
    }

    .book-info {
      clear: both;
      padding-top: 15px;
      .title {
        font-weight: 700;
        height: 50px;
      }
      .author {
        font-size: 16px;
      }
      i {
        margin-right: 5px;
      }
      ul {
        padding-left: 15px;
        list-style: none;
        li {
          padding: 5px 15px;
          border-bottom: 1px solid #ccc;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .read {
        margin-top: 25px;
      }
      .add {
        margin-top: 15px;
        font-size: 14px;
      }
    }
    td {
      vertical-align: middle;
    }
  }
}