.book-info {
  clear: both;
  padding-top: 15px;
  color: #25b0a9;
  font-size: 18px;
  text-align: center;
}
.book-info i {
  color: #00daa8;
  margin-right: 5px;
}
.book-info ul {
  padding-left: 0;
  list-style: none;
}
.book-info ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.book-info ul li:last-child {
  border-bottom: none;
}
.book-info .book-info {
  clear: both;
  padding-top: 15px;
}
.book-info .book-info i {
  margin-right: 5px;
}
.book-info .book-info ul {
  padding-left: 15px;
  list-style: none;
}
.book-info .book-info ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.book-info .book-info ul li:last-child {
  border-bottom: none;
}
.book-info .book-info .read {
  margin-top: 25px;
}
.book-info .book-info .add {
  margin-top: 15px;
  font-size: 14px;
}
.library .library-item {
  cursor: pointer;
  margin-bottom: 45px;
}
.library .library-item .book-img {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}
.library .library-item .book-img i {
  font-size: 54px;
  position: relative;
  top: calc(23%);
  color: #888;
}
.library .library-item .book-info {
  clear: both;
  padding-top: 15px;
}
.library .library-item .book-info .title {
  font-weight: 700;
  height: 50px;
}
.library .library-item .book-info .author {
  font-size: 16px;
}
.library .library-item .book-info i {
  margin-right: 5px;
}
.library .library-item .book-info ul {
  padding-left: 15px;
  list-style: none;
}
.library .library-item .book-info ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.library .library-item .book-info ul li:last-child {
  border-bottom: none;
}
.library .library-item .book-info .read {
  margin-top: 25px;
}
.library .library-item .book-info .add {
  margin-top: 15px;
  font-size: 14px;
}
.library .library-item td {
  vertical-align: middle;
}
