@container-top-margin: 45px;

@media only screen and (max-width : 768px) {
  body .content {
    padding-top: 0;
  }
  .round-title {
    width: 275px;
    height: 80px;
    .title {
      font-size: 24px;
      padding-top:5px;
    }
    .subtitle {
      font-size: 14px;
    }
    margin-bottom: 60px;
  }
  .register, .login {
    .container {
      margin-top: @container-top-margin + 45;
    }
  }
  .dropshadow {
    display: none;
  }

  #home-reader  {
    .intro-text span {
      font-size: 30px;
    }
    a {
      font-size: 30px;
    }
  }
}