@media only screen and (max-width: 768px) {
  body .content {
    padding-top: 0;
  }
  .round-title {
    width: 275px;
    height: 80px;
    margin-bottom: 60px;
  }
  .round-title .title {
    font-size: 24px;
    padding-top: 5px;
  }
  .round-title .subtitle {
    font-size: 14px;
  }
  .register .container,
  .login .container {
    margin-top: 90px;
  }
  .dropshadow {
    display: none;
  }
  #home-reader .intro-text span {
    font-size: 30px;
  }
  #home-reader a {
    font-size: 30px;
  }
}
