.rss {
  font-size: 14px;
}
.rss .post {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.rss .post .title {
  font-size: 18px;
  font-weight: 700;
}
.reader.list {
  display: none;
}
