@import 'colors.less';

.rss {
  font-size: 14px;
  .post {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    .title {
      font-size: 18px;
      font-weight: 700;
    }
    .date {

    }
  }
}

.reader {
  &.list {
    display: none;
  }
}